body {
    margin: 0;
    padding: 0;
    background-color: #fffdd0;
}

#wrap {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

header,
nav,
footer {
    padding: 15px;
}

header {
    background-color: #A9D39E;
    text-align: center;
    color: white;
    font-family: Georgia, serif;
}
footer {
    background-color: #A9D39E;
    text-align: center;
    color: black;
    font-family: Georgia, serif;
    font-weight: bold;
}

.subfoot {
    background-color: #A9D39E;
    text-align: center;
    color: black;
    font-family: Georgia, serif;
    font-size: 12px;
    line-height: 20px;
}

nav {
    background-color: #a8dbdf;
    text-align: center;
    font-size: x-large;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 15px;
}

nav a, {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
}

nav a:hover {
    background-color: #a8dbdf;
}

aside {
    width: 25%;
    background-color: #65c4c8;
    float: left;
}

aside a {
    font-size:
}

article {
    width: 69%;
    background-color: #ffbcd9;
    float: right;
    padding: 1% 2% 3%;
}


section {
    overflow: auto;
    background-color:#65c4c8;
    
}

footer li {
    display: inline;
    padding: 0 15px;
}

.cupcake {
    width: 35%;
    float: right;
    margin: 0 0 20px 30px;
}

@media screen and max-width (800px) {
    #wrap {width: 100%}
    
    aside, article {
        float: none;
        width: 100%
    }
    
    article {
        background-color: beige;
    }
    
    nav a {
        display: block;
        width: 100%;
        padding: 20px 15px;
    }
    
    nav li, 
    nav ul, 
    aside li, 
    aside ul {
        margin: 0;
        padding: 0;
    }
    
    aside li {
        
    }
    
    aside a: hover{
        color: white;
        background-color: cornflowerblue
    }
    
    nav,
    aside {
        padding: 0;
        text-align: center;
    }
    
    .bird {
        width: 100%
                  
    }

}

.helena {
    max-width: 100%;
    max-height: 100%;
}












